body {
    padding-top: 50px;
}

.fill {
    min-height: 100vh;
    height: 100%;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    max-height: 100%;
    max-height: 300px;
    margin-bottom: 60px;
    height: auto;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
    background: rgba(0, 0, 0, 0.45);
}

/* Declare heights because of positioning of img element */
.carousel .item {
    max-height: 100%;
    max-height: 300px;
    background-color: #777;
}

.carousel-inner > .item > img {
    /*  position: absolute;*/
    top: 0;
    left: 0;
    min-width: 40%;
    max-width: 100%;
    max-height: 300px;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    height: auto;

}

.fill {
    overflow-y:auto;
    height:100%;
}

.vertical-align {

    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

